%header
  .frame
    .top
      .title
        -if @product.present?
          %p #{@product.shop_name} - #{@product.address2} #{@product.genre}
        -else
          %p #{@user.nickname}さんのトップページ『#{@user.nickname}のレストランガイド』
      .user-menu
        %ul
          %li
            %a.border{href: 'http://google.co.jp'} メッセージ
          %li
            %a{href: 'http://google.co.jp'} お知らせ
          %li
            %a{href: 'https://tabelog.com/setting/tpoint/history/'} 0pt
          %li
            %a{href: 'https://ssl.tabelog.com/yoyaku/tabelog_mypage/'} 予約確認
          %li
            %a{href: 'https://tabelog.com/rvwr/007631807/rvwlst/0/0/?smp=0&review_content_exist=0'} 行った・行きたい
          %li
            %a{href: "/users/#{current_user.id}"} マイページ
          %li
            %form.select
              %select
                %option 選択してください
                %option フォロー中一覧
                %option 下書き一覧
                %option 設定
                = link_to '/users/sign_out' do
                  %option ログアウト
    .bottom-color
      .bottom-fixed
        .logo
          = link_to '食べログ', root_path, class: 'logo-style'
        .box
        .search-form
          %form
          .form
            %input.text-form{type: 'text', id: 'text'}
            %p.button-form 検索
