%head
%body
  .first-contents
    .page-information
      %p #{current_user.nickname}さんのトップページ『#{current_user.nickname}のレストランガイド』
    .user-menu
      %ul
        %ul
          %li
            %a{href: 'http://google.co.jp'} メッセージ
          %li
            %a{href: 'http://google.co.jp'} お知らせ
          %li
            %a{href: 'http://google.co.jp'} 0pt
          %li
            %a{href: 'http://google.co.jp'} 予約確認
          %li
            %a{href: 'http://google.co.jp'} 行った・行きたい
          %li
            = link_to 'マイページ', '/users/current_user.id', method: :get
          %li
            = link_to 'ログアウト', '/users/sign_out', method: :delete
          %li
            %form.select
              %select
                %option 洗濯してください
                %option フォロー中一覧
                %option 下書き一覧
                %option 設定
                = link_to '/users/sign_out' do
                  %option ログアウト
