%head
  %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", :rel => "stylesheet"}/
%body
  = render "header"
  .mypage__first-contents
    .frame
      .link
      .back-image
        .bottom
          %p #{current_user.nickname}のレストランガイド
          %input.button-form{type:"button", href: 'http://google.co.jp', value: "レュビアーページ設定"}
      .back-avatar
        = image_tag current_user.avatar, size: "120x120", class: "avatar"
      .profile
        .profile-left
          %p #{current_user.nickname}
          %a{href: '###'} プロフィール詳細へ
        .profile-right
          .slide
            %span.left
              %p 口コミ数
            %span.right
              %p 0件
            %span.left
              %p 写真
            %span.right
              %p 0件
            %span.left
              %p 訪問者数
            %span.right
              %p 0件
            %span.left
              %p いいね
            %span.right
              %p 0件
      %hr
      .log
        .box
          %p.count 0
          %p.item ログ
        .box
          %p.count 0
          %p.item 行ったお店
        .box
          %p.count 0
          %p.item 行きたいお店
        .box
          %p.count 0
          %p.item まとめ
        .box
          %p.count 0
          %p.item フォロー中
        .box
          %p.count 0
          %p.item フォロワー
  %hr.line
  .mypage__second-contents
    .flame
      .left
        .left__favorite
          %p おすすめレストラン
        = render "my-product"

      .right
        .right__information
          %p.first お知らせ
          %p.second 全国ピザTOP100  『食べログ ピザ百名店』 を発表しました。詳しくはこちら
      .blank

