-@product.reviews.each do |review|
  .shop-detail__frame__left__review
    .shop-detail__frame__left__review__name
      %image
        = image_tag "/images/gorilla.jpg", size: "35x35"
      %a.first{href: "/users/#{review.user.id}"} #{review.user.nickname}
    .shop-detail__frame__left__review__detail
      .shop-detail__frame__left__review__detail__text
        %span "#{review.title}"
        %p.second #{review.comment}
        %a 続きを読む
        %image
          = image_tag "/images/きりん.jpeg", size: "55x55"
  .shop-detail__frame__left__blank
