.detail
  .blank2
    %p 1〜20件を表示／全203849件
  .detail__header
    .shop-name
      %a 焼屋 安東
  .detail__body
    .body__images
      .image
        = image_tag "/images/beef.jpg", size: "150x150"
      .mini-image
        = image_tag "/images/beef.jpg", size: "28x28"
        = image_tag "/images/beef.jpg", size: "28x28"
        = image_tag "/images/beef.jpg", size: "28x28"
        = image_tag "/images/beef.jpg", size: "28x28"
        = image_tag "/images/beef.jpg", size: "28x28"
    .body__data
      %p.first ◆渋谷駅５分・神泉駅１分◆かまくら個室やオープンテラスが大人気◆飲み放題コース２９８０円〜◆
      %p.second ☆︎
      %p.third ￥3,000〜￥3,999
      %p.forth 〜￥999
      %p.fifth 個室
      %p.sixth 全面禁煙可
      .box
    .body__box
      %p ネット予約で貯まる・使える
    .body__review
      %span 渋谷奥、モアイ像のあるコスパ◎なカフェ！トムボーイカフェ＠渋谷円山町｜246
    .body__data-link
      %p ランチメニューは豊富なので、次回訪問した時もどれにすればいいか迷ってしまいそうですね。 渋谷の凍牛に凍て付く週4 カレーやさん LITTLE SHOP での食後...
  .detail__information
    %p.first 飲み放題付き
    %p.second 初めての方限定、衝撃お得コース
    %p.third (税込価格)
    %p.forth 2,500円
