-@products.each do |product|
  .detail
    .detail__header
      .shop-name
        = link_to product.shop_name, "/products/#{product.id}"
    .detail__body
      .body__images
        .image
          = image_tag "#{product.image_url}", size: "150x150"
        .mini-image
          = image_tag "#{product.image1}", size: "28x28"
          = image_tag "#{product.image2}", size: "28x28"
          = image_tag "#{product.image3}", size: "28x28"
          = image_tag "", size: "28x28"
          = image_tag "", size: "28x28"
      .body__data
        %p.second ★星
        %p.third 昼 〜￥999
        %p.forth 夜 ￥1,000〜￥1,999
        %p.fifth 個室
        %p.sixth 全面禁煙可
        .box
      .body__box
        %p ネット予約で貯まる・使える
      .body__catchphrase
        %span #{product.catchphrase}
        %p #{product.detail}
      .body__review
        -if product.reviews.present?
          %p #{product.reviews.last.comment.truncate(30)}
        -else
          %p
    .detail__information
      %p.first サービス
      %p.second お得コース？！
      %p.third (税込価格)
      %p.forth 500円？！
