%body
  = render "users/header"
  .top
    .top__flame
      .top__header
        %a{href: '###'} 食べログ
        %p >
        %a{href: '###'} 東京
        %p >
        %a{href: '###'} 渋谷
      .top__shop-information
        .top__shop-information__left
          .top__shop-information__left__first
            %p #{@product.shop_name}
            %p ★星
          .top__shop-information__left__second
            %strong.first 場所:
            %p #{@product.address2}
            %strong ジャンル:
            %p #{@product.genre}
            %strong.second 予算: 昼〜¥999 夜〜¥1999
        .top__shop-information__right
          .top__shop-information__right__first
          .top__shop-information__right__second
            %p #{@product.phone_number}
      .top__menu
        .top__menu__boxes
          .top__menu__boxes__box.first
            %p 店舗トップ
          .top__menu__boxes__box
            %p メニュー・コース
          .top__menu__boxes__box
            %p 写真
          .top__menu__boxes__box
            %p 口コミ
          .top__menu__boxes__box
            %p 地図
  .shop-detail
    .shop-detail__frame
      .shop-detail__frame__left
        %p 写真
        .shop-detail__frame__left__images
          .shop-detail__frame__left__images__first
            %image
              = image_tag "/images/チャオタイ1.jpg", size: "125x125"
            %image
              = image_tag "/images/チャオタイ2.jpg", size: "125x125"
            %image
              = image_tag "/images/チャオタイ3.jpg", size: "125x125"
            %image
              = image_tag "/images/チャオタイ4.jpg", size: "125x125"
            %image
              = image_tag "/images/チャオタイ5.jpg", size: "125x125"
          .shop-detail__frame__left__images__second
            %image
              = image_tag "/images/チャオタイ1.jpg", size: "125x125"
            %image
              = image_tag "/images/チャオタイ2.jpg", size: "125x125"
            %image
              = image_tag "/images/チャオタイ3.jpg", size: "125x125"
            %image
              = image_tag "/images/チャオタイ4.jpg", size: "125x125"
            %image
              = image_tag "/images/チャオタイ5.jpg", size: "125x125"
        %a{href: '###'} もっと見る
        .shop-detail__frame__left__blank
        .shop-detail__frame__left__review
          .shop-detail__frame__left__review__name
            %p.first 口コミ
            %image
              = image_tag "/images/gorilla.jpg", size: "35x35"
            %a.first ごりらりごりらりごりらりごりら
          .shop-detail__frame__left__review__detail
            .shop-detail__frame__left__review__detail__text
              %p「さくらまつり」 桜色に染まっていく麺が、白キクラゲが、イカが美しい「イエ
              %p ２０１７年・桜まつり、残すも、あと２つ！勝手に桜まつりと称して、桜のオヤツやら、、、
              %a 続きを読む
              %image
                = image_tag "/images/だんご.jpeg", size: "55x55"

      .shop-detail__frame__right
        %p 周辺のお店のランキング












